{% macro articles(_articles) %}
    {% for article in _articles %}
        <a href="{{ article.path|resolveFile }}" class="list-group-item {% if article.path == file.path %}active{% endif %}">{{ article.title }}</a>
        {% if article.articles.length > 0 %}
        {{ articles(article.articles) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block book_summary %}
    {% for part in summary.parts %}
    <div class="panel panel-default">
        {% if part.title %}
        <div class="panel-heading">
            <h3 class="panel-title">{{ part.title }}</h3>
        </div>
        {% endif %}

        <div class="list-group">
            {{ articles(part.articles) }}
        </div>
    </div>
    {% endfor %}
{% endblock %}